/*	LOADER */
.loader {
    border: 30px solid rgba(255, 255, 255, 0.2); /* Light grey */
    border-top: 30px solid #FFFFFF; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
	margin: -100px 0 0 -100px;
	
    animation: spin 2s linear infinite;
	
	position: absolute;
	left: 50%;
	top: 50%;
	
	width: 200px;
    height: 200px;
	margin: -100px 0 0 -100px;
}

body{
	margin: 0px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
	border: 0px;
	background: slateblue 50% 50%;
	z-index: 101;
	position: absolute;
	width:100%;
	height: 100%;
	
	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}
/* LOADER */
table{
    height: 50px;
    border: 2.5px solid black; border-collapse: collapse;
}

tr, td {
    border: 1px solid grey;
	text-align: center;
    width: 40px;
	
	-webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;

}

.schedule-delay-table{
	pointer-events: none;
	z-index:99;
	position: absolute;
	display: none;
	table-layout: fixed;
}

.ctx-table{
	pointer-events: none;
	z-index:100;
	position: absolute;
	display: none;
	opacity : 0.75;
	
	
	background-color:#505050;
}

.NA{
    background-color: white;
}
.NSSS{
    background-color: #0070C0;
}
.NPSS{
    background-color: red;
}
.NPBCH{
    background-color: yellow;
}
.NPDCCH{
    background-color: #CC00CC;
}
.NPDSCH{
    background-color: #EE7700;
}
.NPDSCH_SIB{
    background-color: #69C18A;
}
.NPRACH{
    background-color: green;
	-webkit-transition: none;
    transition: none;
}
.NPUSCH{
    background-color: purple ;
}

.subcarrier{
	font-size: 1px;
}

#channels{
	position:fixed;
	left:0px;
    bottom:0px;
}

#loadconfigform{
   position:fixed;
   left:350px;
   bottom:0px;
}

#s1, #s2, #s3, #s4, #s5, #s6{
	border: 0px;
	padding: 0px;
}
#s1, #s3, #s4, #s6{width: 0px;}
#s1, #s4{ height: 40px; }
#s1{ border-bottom: 1px solid red; }
#s1{ border-left: 1px solid red; }
/*#s6{ border-right: 1px solid red; }*/